body,html{
    height: 100vh;
    width: 100vw;
}
*{
    margin: 0;
    font-weight: 200;
    user-select: none;
}
#app{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: background-color 0.5s ease;
}
#title-bar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(255,255,255);
    -webkit-app-region: drag;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: background-color 0.5s ease;
}
#title{
    font-size: 25px;
    line-height: 50px;
    margin-left: 70px;
}
#close-button{
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 35px;
    font-size: 25px;
    background-color: transparent;
    border-radius: 12.5px;
    border: none;
    transition: background-color 0.5s ease,
    color 0.5s ease;
    -webkit-app-region: no-drag;
}
#close-button:hover{
    background-color: rgb(230,230,230);
}
#close-button p{
    transform: scale(1,0.8);
}
#min-button{
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 35px;
    font-size: 25px;
    background-color: transparent;
    border-radius: 12.5px;
    border: none;
    transition: background-color 0.5s ease,
    color 0.5s ease;
    -webkit-app-region: no-drag;
}
#min-button:hover{
    background-color: rgb(230,230,230);
}
#min-button p{
    transform: scaleX(2.5);
    margin-bottom: 20px;
}
#main-text{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: color 0.5s ease;
}
#phishing-check{
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    transition: color 0.5s ease;
}
#input-site{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: 250px;
    text-align: center;
    border-radius: 12.5px;
    border: 1px solid rgb(200,0,255);
    transition: border-color 0.5s ease;
    color: rgb(100,0,255);
    background-color: transparent;
    text-transform: lowercase;
}
#input-site:focus{
    outline: none;
    border-color: rgb(100,0,155);
}
#input-site::placeholder{
    color: rgb(200,0,255)
}
#input-site::selection{
    color: rgb(0,0,255);
}
#phishing-info{
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: black;
    transition: color 0.5s ease;
}
#warning{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    transition: border-color 0.5s ease,
    color 0.5s ease,
    background-color 0.5s ease;
}
#title-image{
    position: absolute;
    top: 0px;
    left: 5px;
    height: 50px;
    width: 55px;
}
@media (prefers-color-scheme: dark) {
    #app{
        background-color: rgb(30,30,30);
    }
    #title-bar{
        background-color: rgb(30,30,30);
    }
    #warning{
        background-color: rgb(30,30,30);
        color: white;
        border-color: rgb(255,255,255)
    }
    #title{
        color: white;
    }
    #main-text{
        color: white;
    }
    #phishing-check{
        color: white;
    }
    #input-site:focus{
        border-color: rgb(255,0,255);
        color: rgb(255,0,255);
    }
    #input-site::selection{
        color: rgb(100,100,255);
    }
    #close-button{
        color: white;
    }
    #min-button{
        color: white;
    }
    #close-button:hover{
        background-color: rgb(70,70,70);
    }
    #min-button:hover{
        background-color: rgb(70,70,70);
    }
}